.landing-image {
	background-image: url('components/images/indoor.jpg');
	height: 600px;
	width: 100%;
	position: relative;
	filter: brightness(100%);
}

.image-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.about-image {
	background-image: url('components/images/building.jpg');
	width: 100%;
	height: 600;
	position: relative;
}

.bg-about {
	background-color: #f8f9fa;
}

.more-services {
	float: right;
}

.service-img {
	filter: brightness(50%);
}
