.landing-image {
	background-image: url('components/images/indoor.jpg');
	height: 600px;
	width: 100%;
	position: relative;
	filter: brightness(100%);
}

.image-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.about1 {
	background-image: url('components/assets/img/gallery/section_bg02.jpg');
	width: 100%;
	height: auto;
	position: relative;
}

.about2 {
	background-image: url('components/assets/img/gallery/section_bg04.jpg');
	width: 100%;
	height: auto;
	position: relative;
}

.bg-about {
	background-color: #f8f9fa;
}

.more-services {
	float: right;
}

.service-img {
	filter: brightness(50%);
}

.consultant-hero-image {
	/* background-image: url('components/images/consultant-big.jpg'); */
	filter: brightness(50%);
	height: 500px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.consultant-hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
