a {
	text-decoration: none;
}

nav a {
	color: red;
}

nav a:hover {
	transition: all ease-in-out 0.5;
}

nav a:active {
	background-color: #002147;
	color: white;
}

.wephco-blue {
	color: #002147;
}

.bg-wephco-blue {
	background-color: #002147;
	color: white;
}

.btn-bronze {
	background-color: #cd7f32;
	color: #fff;
}

.btn-silver {
	background-color: #c0c0c0;
	color: #fff;
}

.btn-gold {
	background-color: #ffd700;
	color: #fff;
}
